<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Total del presupuesto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="padding-left: 25px;">
        <h2>El total de su presupuesto</h2>
        <h2>Aporte propio: {{ apPropio }} Bs. <a style="font-size: small;" (click)="detallesAporte()">Ver detalles</a></h2>
        <div *ngIf="apFlag">
            <ion-list>
                <ion-item>
                    <ion-label>Efectivo: {{ pres.efectivo.total }}Bs.</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Mano de obra: {{ pres.capitalOperativo.manoObra.totalPropio }} Bs. </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Operativos: {{ pres.capitalOperativo.operativos.totalPropio }} Bs. </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Materia prima: {{ pres.capitalOperativo.prima.totalPropio }} Bs. </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Promocion: {{ pres.capitalOperativo.promocion.totalPropio }} Bs. </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Infraestructura: {{ pres.capitalInversion.infraestructura.totalPropio }} Bs. </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Legales: {{ pres.capitalInversion.legales.totalPropio }} Bs. </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Maquinaria: {{ pres.capitalInversion.maquinaria.totalPropio }} Bs. </ion-label>
                </ion-item>
            </ion-list>
        </div>
        <h2>Plan de inversion: {{ apInv }} Bs. <a style="font-size: small;" (click)="detallesInv()">Ver detalles</a><br></h2>
        <div *ngIf="piFlag">
            <ion-list>
                <ion-item>
                    <ion-label>Mano de obra: {{ pres.capitalOperativo.manoObra.totalInvertido }} Bs. </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Operativos: {{ pres.capitalOperativo.operativos.totalInvertido }} Bs. </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Materia prima: {{ pres.capitalOperativo.prima.totalInvertido }} Bs. </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Promocion: {{ pres.capitalOperativo.promocion.totalInvertido }} Bs. </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Infraestructura: {{ pres.capitalInversion.infraestructura.totalInvertido }} Bs. </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Legales: {{ pres.capitalInversion.legales.totalInvertido }} Bs. </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Maquinaria: {{ pres.capitalInversion.maquinaria.totalInvertido }} Bs. </ion-label>
                </ion-item>
            </ion-list>
        </div><br>
        <p>Total del proyecto: {{ apInv + apPropio - pres.efectivo.total }} Bs.</p>
        <p>Aporte propio: {{ apPropio }} Bs.</p>

        <p>% de aporte propio: {{ procentajeApPropio() }}%</p>

        <p>Monto a financiar: {{ apInv - pres.efectivo.total }} Bs.</p>

    </div>
    <!--h2 style="padding-left: 25px;">Desembolsos</h2>
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-content>
                    <ion-input type="number" placeholder="Primer desembolso" #prim></ion-input>
                    <ion-input type="number" placeholder="Segundo desembolso" #seg></ion-input>
                </ion-card-content>
            </ion-card>

        </ion-col>
    </ion-row-->
    <button mat-flat-button class="float-end" color='primary'>Siguiente</button>

</ion-content>