<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Detalles de la empresa</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2 style="padding-left: 25px;">Por favor llene los campos</h2>
    <div>
        <form class="example-form mt-2" [formGroup]="miFormulario">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre de la empresa</mat-label>
                <input matInput formControlName='nombre'>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre del representante</mat-label>
                <input matInput formControlName='representante'>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Direccion de la empresa</mat-label>
                <input matInput formControlName='direccion'>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>NIT de la empresa</mat-label>
                <input matInput formControlName='nit'>
            </mat-form-field>
        </form>
    </div>
    <button mat-flat-button color='primary' class="float-end me-3 mb-3" (click)="guardarDatos()" [disabled]="miFormulario.invalid" routerLink='/vistas/presupuesto'>Siguiente</button>
</ion-content>