
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Costos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="example-form mt-2" [formGroup]="miFormulario">
    <mat-form-field class="selector" appearance="fill">
      <mat-label>Hoja de costos directos</mat-label>
      <mat-select  name="options"  formControlName='tipo'>
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="row">
      <h3>Ventas totales por mes</h3>
      <div class="col-4">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Altas</mat-label>
          <input matInput formControlName='altas'>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Medias</mat-label>
          <input matInput formControlName='medias'>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Bajas</mat-label>
          <input matInput formControlName='bajas'>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <h3>Comportamiento de ventas mensuales</h3>
      <div class="col-4" *ngFor="let mes of meses">
        <mat-form-field class="selector" appearance="fill">
          <mat-label>{{mes}}</mat-label>
          <mat-select  name="options" [formControlName]='mes'>
            <mat-option [value]="miFormulario.get('altas').value">
              Alta
            </mat-option>
            <mat-option [value]="miFormulario.get('medias').value">
              Media
            </mat-option>
            <mat-option [value]="miFormulario.get('bajas').value">
              Baja
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
    </div>
    <h4>Total: {{sumar() | number}}</h4>
  </form>
  <button mat-flat-button color='primary' class="float-end me-3 mb-3">Siguiente</button>
</ion-content>
