<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Costos OPERATIVOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 

  <ion-grid [fixed]="true" >
    
    <ion-row>
      <ion-col col-6>
        <p> COSTOS OPERATIVOS</p>
        <p>Impuestos </p>
        <p>Alimentación </p>
        <p>Servicio de Luz</p>
        <p>Servicio de Agua</p>
        <p>Servicio de Gas</p>
        <p>Servicio de Telefono/Celular</p>
        <p>Servicio de Internet</p>
        <p>Alquiler</p>
        <p>Transporte</p>
        <p>Material de Escritorio</p>
        <p>Pago a Empleados </p>

        <p>Promoción</p>
        <p>Mantenimiento</p>
        <p>Vestimenta</p>
        <p>Salud</p>


        
      </ion-col>


      <ion-col col-6>
       
          <p> NEGOCIO</p>
          <form class="example-form mt-2" [formGroup]="miFormulario">
            
            
            <input type="number" min="0" value="0" matInput formControlName='Impuestos'>
            
            <input type="number" min="0" value="0" matInput formControlName=' Alimentación'>
            <input type="number" min="0" value="0" matInput formControlName=' ServiciodeLuz'>

            <input type="number" min="0" value="0" matInput formControlName='ServiciodeAgua'>
            <input type="number" min="0" value="0" matInput formControlName=' ServiciodeGas'>
            <input type="number" min="0" value="0" matInput formControlName=' ServiciodeTelefono'>
            <input type="number" min="0" value="0" matInput formControlName=' ServiciodeInternet'>
            <input type="number" min="0" value="0" matInput formControlName=' Alquiler'>
            <input type="number" min="0" value="0" matInput formControlName=' Transporte'>
            <input type="number" min="0" value="0" matInput formControlName='MaterialdeEscritorio'>
            <input type="number" min="0" value="0" matInput formControlName='PagoaEmpleados'>
            <input type="number" min="0" value="0" matInput formControlName=' Promoción'>
            <input type="number" min="0" value="0" matInput formControlName=' Mantenimiento'>
            <input type="number" min="0" value="0" matInput formControlName=' Vestimenta'>
            <input type="number" min="0" value="0" matInput formControlName=' Salud'>
           
            <h4>Total: {{sumar() | number}}</h4>
            <p></p>
        </form>

      </ion-col>
    </ion-row>
    <button mat-flat-button color='primary' class="float-end me-3 mb-3" (click)="guardar()"
    [disabled]="miFormulario.invalid" routerLink='/vistas/costo-opera'>Siguiente</button>
    
  </ion-grid>
 
  
</ion-content>