<ion-header>
  <ion-toolbar>
    <ion-title>CostoOpera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <p> COSTOS OPERATIVOS</p>
        <p >Impuestos        </p>
        <p>Alimentación        </p>
<p>Servicio de Luz</p>
<p>Servicio de Agua</p>
<p>Servicio de Gas</p>
<p>Servicio de Telefono/Celular</p>
<p>Servicio de Internet</p>
<p>Alquiler</p>
<p>Transporte</p>
<p>Material de Escritorio</p>
<p>Pago a Empleados  </p>

<p>Promoción</p>
<p>Mantenimiento</p>
<p>Vestimenta</p>
<p>Salud</p>



</ion-col>
    
    
      <ion-col>
       <P> NEGOCIO</P>
       <p>Numero 1 : <input type="number" ng-model="n1"></p>
     <p>Numero 2 : <input type="number" ng-model="n2"></p>
     <p>Numero 3 : <input type="number" ng-model="n3"></p>
     <p>Numero 4 : <input type="number" ng-model="n4"></p>
     <p>Numero 5 : <input type="number" ng-model="n5"></p>
     <p>Numero 6 : <input type="number" ng-model="n6"></p>
     <p>Numero 7 : <input type="number" ng-model="n7"></p>
     <p>Numero 8 : <input type="number" ng-model="n8"></p>
     <p>Numero 9 : <input type="number" ng-model="n9"></p>
     <p>Numero 10 : <input type="number" ng-model="n10"></p>
     <p>Numero 11 : <input type="number" ng-model="n11"></p>
     <p>Numero 12 : <input type="number" ng-model="n12"></p>
     <p>Numero 13 : <input type="number" ng-model="n13"></p>
     <p>Numero 14 : <input type="number" ng-model="n14"></p>
     <p>Numero 15 : <input type="number" ng-model="n15"></p>
    

      </ion-col>
    </ion-row>
    
  </ion-grid>
  
</ion-content>
