<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name='close'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Productos o Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='contenidoForm'>
    <small>Ingrese la cantidad de productos o servicios que ofrece</small>
    <form [formGroup]="form" class="mt-3">
      <mat-form-field appearance="fill">
        <mat-label>Productos o Servicios</mat-label>
        <input matInput type="number"  min="1" (change)="cargarCampos()" formControlName='cantidad'>
      </mat-form-field>
      <h4>Ingrese los nombre de los productos o servicios</h4>
      <div formArrayName='servicios'>
        <mat-form-field appearance="fill" *ngFor="let item of numbers; let i=index">
          <mat-label >Producto o Servicio</mat-label>
          <input matInput [formControlName]="i">
        </mat-form-field>
      </div>
    </form>
    <button mat-flat-button color="primary" class="float-end" (click)="guardar()"
    [disabled]="form.invalid">Siguiente</button>
  </div>
 
</ion-content>
