
<form [formGroup]="miFormulario"  (change)="guardar()">
  <div class="row">
    <div class="col-4">
      <mat-form-field appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" formControlName='cantidad'>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="fill">
        <mat-label>Unidad</mat-label>
        <input matInput type="text" formControlName='unidad' >
      </mat-form-field>
    </div>
    <div class="col-4" *ngIf="aporte">
      <mat-form-field appearance="fill">
        <mat-label>Aporte (Bs)</mat-label>
        <input matInput type="number" formControlName='aporte'>
      </mat-form-field>
    </div>
    <div class="col-4" *ngIf="inversion">
      <mat-form-field appearance="fill">
        <mat-label>Inversion</mat-label>
        <input matInput type="number" formControlName='inversion'>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Detalle</mat-label>
        <input matInput type="text" formControlName='detalle' (change)="guardar()">
      </mat-form-field>
    </div>
  </div>
</form>
