
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Costos Directos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="p-2 text-center" >Ingrese los datos de los Insumos de cada Producto o Servicio</h4>
  <mat-stepper #stepper>
    <mat-step [stepControl]="FormGroups[i]" *ngFor="let item of nombres; let i = index">
      <form [formGroup]="FormGroups[i]">
        <ng-template matStepLabel>{{item}}</ng-template>
        <h3 class="text-center"><small>Producto o Servicio:</small> {{item | titlecase}}</h3>
        <app-insumos></app-insumos>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Terminar</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  
</ion-content>



