<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Presupuesto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <mat-stepper #stepper>
        <mat-step>
            <form [formGroup]="form1">
                <ng-template matStepLabel>Presupuesto</ng-template>
                <h3 class="text-center"><small>Con que efectivo cuenta?</small></h3>
                <div class="row">
                    <h3>Efectivo/Origen</h3>
                    <div class="col-5">
                        <small>Detalle del efectivo</small>
                        <mat-form-field appearance="fill">
                            <mat-label>Detalle</mat-label>
                            <input matInput type="text" formControlName='detalleEfectivo'>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <small>Procedencia</small>
                        <mat-form-field appearance="fill">
                            <mat-label>Procedencia</mat-label>
                            <input matInput type="text" formControlName='procedenciaEfectivo'>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <small>Aporte propio</small>
                        <mat-form-field appearance="fill">
                            <mat-label>Aporte propio</mat-label>
                            <input matInput type="number" min="0" formControlName='aporteEfectivo'>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <h3>Caja de Ahorro/Entidad Financiera</h3>
                    <div class="col-5">
                        <small>Detalle entidad financiera</small>
                        <mat-form-field appearance="fill">
                            <mat-label>Detalle</mat-label>
                            <input matInput type="text" formControlName='detalleEntidad'>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <small>Procedencia</small>
                        <mat-form-field appearance="fill">
                            <mat-label>Procedencia</mat-label>
                            <input matInput type="text" formControlName='procedenciaEntidad'>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <small>Aporte propio</small>
                        <mat-form-field appearance="fill">
                            <mat-label>Aporte propio</mat-label>
                            <input matInput type="number" min="0" formControlName='aporteEntidad'>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <h3>Otros</h3>
                    <div class="col-5">
                        <small>Detalle</small>
                        <mat-form-field appearance="fill">
                            <mat-label>Detalle</mat-label>
                            <input matInput type="text" formControlName='detalleOtros'>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <small>Procedencia</small>
                        <mat-form-field appearance="fill">
                            <mat-label>Procedencia</mat-label>
                            <input matInput type="text" formControlName='procedenciaOtros'>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <small>Aporte propio</small>
                        <mat-form-field appearance="fill">
                            <mat-label>Aporte propio</mat-label>
                            <input matInput type="number" min="0" formControlName='aporteOtros'>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div class="mb-3">Total: {{sumarTotal1() | number}}</div>
            <button mat-flat-button color="primary" class="me-2" matStepperPrevious>Atras</button>
            <button mat-flat-button color="primary" class="float-end" matStepperNext (click)="guardarEfectivo()">Siguiente</button>
        </mat-step>

        <mat-step>
            <h3 class="text-center"><small>Capital Operativo</small></h3>
            <ng-template matStepLabel>Capital Operativo</ng-template>
            <div>
                <h4>Mano de obra</h4>
                <app-capital [inversion]="false" tipo="mano"></app-capital>
            </div>
            <div>
                <h4>Materia prima, insumos y/o animales de engorde</h4>
                <small>Detalle 1</small>
                <app-capital [indice]='0' tipo="prima"></app-capital>
                <small>Detalle 2</small>
                <app-capital [indice]='1' tipo="prima"></app-capital>
                <small>Detalle 3</small>
                <app-capital [indice]='2' tipo="prima"></app-capital>
            </div>
            <div>
                <h4>Requerimientos promocionales</h4>
                <small>Requerimiento 1</small>
                <app-capital [indice]='0' tipo="promocion"></app-capital>
                <small>Requerimiento 2</small>
                <app-capital [indice]='1' tipo="promocion"></app-capital>
            </div>
            <div>
                <h4>Gastos operativos</h4>
                <app-capital [indice]='0' [aporte]='false' tipo="operativos"></app-capital>
                <app-capital [indice]='1' [aporte]="false" tipo="operativos"></app-capital>
            </div>
            <button mat-flat-button color="primary" class="me-2" matStepperPrevious>Atras</button>
            <button mat-flat-button color="primary" class="float-end" matStepperNext>Siguiente</button>
        </mat-step>

        <mat-step>
            <h3 class="text-center"><small>Capital de Inversion</small></h3>
            <ng-template matStepLabel>Capital Operativo</ng-template>
            <div>
                <h4>Infraestructura</h4>
                <small>Detalle 1</small>
                <app-capital tipo="infra" [indice]="0"></app-capital>
                <small>Detalle 2</small>
                <app-capital tipo="infra" [indice]='1'></app-capital>
                <small>Detalle 3</small>
                <app-capital tipo="infra" [indice]='2'></app-capital>
            </div>
            <div>
                <h4>Maquinaria, Equipos, Vehiculos y/o Ganado</h4>
                <small>Detalle 1</small>
                <app-capital [indice]='0' tipo="maqui"></app-capital>
                <small>Detalle 2</small>
                <app-capital [indice]='1' tipo="maqui"></app-capital>
                <small>Detalle 3</small>
                <app-capital [indice]='2' tipo="maqui"></app-capital>
                <small>Detalle 4</small>
                <app-capital [indice]='3' tipo="maqui"></app-capital>
                <small>Detalle 5</small>
                <app-capital [indice]='4' tipo="maqui"></app-capital>
            </div>
            <div>
                <h4>Requerimientos legales</h4>
                <small>Requerimiento 1</small>
                <app-capital [indice]='0' tipo="legales"></app-capital>
                <small>Requerimiento 2</small>
                <app-capital [indice]='1' tipo="legales"></app-capital>
                <small>Requerimiento 3</small>
                <app-capital [indice]='2' tipo="legales"></app-capital>
            </div>
            <button mat-flat-button color="primary" class="me-2" matStepperPrevious>Atras</button>
            <button mat-flat-button color="primary" class="float-end" matStepperNext>Siguiente</button>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Terminar</ng-template>
            <h2>Todo finalizado correctamente!!</h2>
            <div class="ultimo">
                <button mat-flat-button color="primary" class="me-2" matStepperPrevious>Atras</button>
                <button mat-flat-button color="primary" class="float-end" (click)="guardar()" routerLink='/vistas/pres-total'>Guardar y Continuar</button>
            </div>
        </mat-step>
    </mat-stepper>

</ion-content>